call plug#begin('{{ nvim_config_dir }}/plugged')
Plug 'cespare/vim-toml'
Plug 'chr4/nginx.vim'
Plug 'ctrlpvim/ctrlp.vim'
Plug 'dense-analysis/ale'
Plug 'elixir-editors/vim-elixir'
Plug 'evidens/vim-twig'
Plug 'gleam-lang/gleam'
Plug 'godlygeek/tabular'
Plug 'hashivim/vim-terraform'
Plug 'itchyny/lightline.vim'
Plug 'jparise/vim-graphql'
Plug 'jwalton512/vim-blade'
Plug 'kien/ctrlp.vim'
Plug 'leafgarland/typescript-vim'
Plug 'mzlogin/vim-markdown-toc'
Plug 'scrooloose/nerdtree'
Plug 'tpope/vim-fugitive'
Plug 'tpope/vim-rails'
Plug 'tpope/vim-rhubarb'
Plug 'tpope/vim-surround'

" Ansible
Plug 'pearofducks/ansible-vim', { 'for': 'yaml' }

" Themes
Plug 'connorholyday/vim-snazzy'
call plug#end()

source ~/.vimrc
